@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    overflow-x: hidden;
}

body h1 {
    color: #003A5D;
    font-weight: normal;
    font-size: 2.4em;
}


form div input {
    display: inline-flex;
}

/* TOOLTIP BOOTSTRAP */
.tooltip-inner {
    background-color: transparent;
    color: #003A5D;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: transparent !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: transparent !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: transparent !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: transparent !important;
}

/* CUSTOM TOOLTIP */
.tooltip-et {
    position:relative;
}

.tooltip-et:after {
    background-color:#333;
    color: white;
    box-sizing:border-box;
    content: attr(data-tooltip);
    display:none;
    padding: 5px 10px;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 100;
    left: -100px;
    bottom: -35px;
    width: 200px;
    z-index: 3;
    font-size: 10px;
}

.tooltip-adutora:after {
    left: -120px !important;
}

.tooltip-testes:after {
    top: 25px;
    left: -80px !important;
}

.tooltip-et:hover:after {
    display:block;
}

.tooltip-et-testes:hover:after {
    margin-bottom: 10px;
    display:block;
}

.input-unidade {
    position: absolute;
    color: #3C8DBC;
    right: 25px;
    bottom: 5px;
    z-index: 200;
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    transition: 0.3s;    
    opacity: 0.6;
}

.input-ts-unidade {
    position: absolute;
    color: #3C8DBC;
    right: 25px;
    bottom: 40px;
    z-index: 200;
    font-size: 1.2em;
    font-style: normal;
    font-weight: bold;
    transition: 0.3s;    
    opacity: 0.6;
}

.input-ts2-unidade {
    position: absolute;
    color: #3C8DBC;
    right: 25px;
    bottom: 13px;
    z-index: 200;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    transition: 0.3s;    
    opacity: 0.6;
}

.input-tb-unidade {
    position: absolute;
    color: #3C8DBC;
    right: 25px;
    bottom: 14px;
    z-index: 200;
    font-size: 1.2em;
    font-style: normal;
    font-weight: bold;
    transition: 0.3s;    
    opacity: 0.6;
}

.form-group input[type="number"]:hover + .input-unidade { right: 40px; }
.form-group input[type="number"]:focus + .input-unidade { right: 40px; }

.campos_tensao input[type="number"]:hover + .input-ts-unidade { right: 48px; }
.campos_tensao input[type="number"]:focus + .input-ts-unidade { right: 48px; }

.form-group input[type="number"]:hover + .input-ts2-unidade { right: 40px; }
.form-group input[type="number"]:focus + .input-ts2-unidade { right: 40px; }

td input[type="number"]:hover + .input-tb-unidade { right: 40px; }
td input[type="number"]:focus + .input-tb-unidade { right: 40px; }

textarea {
    font-size: 1.4rem !important;
}